body, html{
	font-family: sans-serif;
}

#dot {
	position:absolute;
	top:400px;
	left:400px;
	background: #333;
	border-radius:30px 30px 30px 0px;
	width:20px;
	height:20px;
	transform: rotate(-45deg);
}

#target {
	position:absolute;
	top:400px;
	left:400px;
	background: #f33;
	border-radius:30px 30px 30px 30px;
	width:20px;
	height:20px;
	display:none;
}

.transition{
	transition: all 283ms linear;
}